<div id="footer">
	&copy;
	<script type="text/javascript">
	var d = new Date()
	document.write(d.getFullYear())
	</script>
	<noscript>
	2013
	</noscript>
	SVGeneration fork by <a href="https://github.com/Uninen">@uninen</a> (<a href="https://twitter.com/uninen"></a>@uninen on Twitter)</a> | Original work by <a href="https://github.com/DDKnoll/SVGeneration">@DDKnoll</a> | <a href="https://github.com/Uninen/SVGeneration/blob/master/LICENSE">License</a> | <a href="https://github.com/Uninen/SVGeneration">Github</a>
</div> 
<script src="/app.js"></script>
<script>
  window.jQuery || document.write('<script src="/sources/jquery.min.js"><\/script>')
</script>
<script src="/sources/spectrum/spectrum.js"></script>
<% if(env == 'dev'){ %>
  <script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.9.1.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
<% } %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41815464-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-41815464-9');
</script>
</div>
  </body>
</html>